%button {
  width: 100%;
  padding: 5px 0;
  font-size: 12px;
  font-family: 'nunito', serif;
  background-color: #44a0dc;
  color: white;
  font-weight: 600;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

%buttonHover {
  background-color: black;
  color: white;
}
