%a-button {
  text-decoration: none;
  color: black;
  outline: none;
  color: white;
  border: 2px solid white;
  padding: 12px 20px;
}

%main-a-btn {
  text-decoration: none;
  outline: none;
  color: white;
  padding: 12px 0;
  border-bottom: 1px solid white;
  letter-spacing: 2px;
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
}

%a-social {
  text-decoration: none;
  outline: none;
  color: white;
  padding: 8px 0;
}

%bgImg {
  background-position: center center;
  background-size: cover;
}

%flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%flex-spaceB-center {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 1.5px;
}
