%flex-center {
  display: flex;
  align-items: center;
}

%backgroundPic {
  background-position: center center;
  background-size: cover;
}

%link {
  font-size: $fontRegular;
  text-decoration: underline;
  cursor: pointer;
  color: black;
}
