// Font Size
$fontXXLarge: 64px;
$fontXLarge: 40px;
$fontLarge: 36px;
$fontMedium: 28px;
$fontRegular: 24px;
$fontSmall: 18px;
$fontMicro: 16px;

// Font Weight
$weightBold: 700;
$weightSemiBold: 600;
$weightMedium: 500;
$weightRegular: 400;

// color
$mainGreen: #464c3a;
$mainBeige: #fdfbf6;
$lightGreen: #f1f4e3;
