// Font Size
$fontLarge: 48px;
$fontMedium: 28px;
$fontRegular: 18px;
$fontSmall: 16px;
$fontMicro: 14px;

// Font Weight
$weightBold: 700;
$weightSemiBold: 600;
$weightMedium: 500;
$weightRegular: 400;
