// Font Size
$fontXXLarge: 64px;
$fontXLarge: 40px;
$fontLarge: 30px;
$fontMedium: 24px;
$fontRegular: 20px;
$fontSmall: 16px;
$fontMicro: 14px;

// Font Weight
$weightBold: 700;
$weightSemiBold: 600;
$weightMedium: 500;
$weightRegular: 400;

// color
