@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap');
// font-family: 'Merriweather', serif;

@import '_reset';
@import '_variables';
@import '_extends';
// font-family: 'Comfortaa', cursive;
// font-family: 'Crimson Text', serif;

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: khaki;
  display: grid;
  grid-template-columns: 3fr 2fr;
  font-family: 'nunito', sans-serif;
}

img {
  width: 30px;
  height: 30px;
}

.main {
  width: 100%;
  height: inherit;
  padding: 30px;
  background-image: url('https://images.unsplash.com/photo-1506665531195-3566af2b4dfa?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80');
  background-position: center center;
  background-size: cover;
  .main-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 40% 60%;
    .main--row--first {
      .creator {
        text-transform: uppercase;
        font-weight: $weightBold;
        font-size: $fontMedium;
        color: white;
      }
    }
    .main--row--second {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .location {
        .country {
          color: black;
          background-color: white;
          font-size: $fontSmall;
          font-weight: $weightSemiBold;
          padding: 8px 16px;
          border-radius: 25px;
          letter-spacing: 1.2px;
          margin-bottom: 40px;
        }
        .toursite {
          font-family: 'crimson text', sans-serif;
          color: white;
          font-weight: $weightBold;
          font-size: $fontLarge;
          margin-top: 40px;
          letter-spacing: 2px;
        }
      }
      .description {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px;
        background-color: rgba(255, 255, 255, 0.6);
        border-radius: 16px;
        div {
          color: black;
          font-weight: $weightSemiBold;
          h6 {
            margin-bottom: 5px;
            font-size: $fontMicro;
          }
        }
        .btn--request {
          cursor: pointer;
          outline: none;
          height: 100%;
          padding: 15px;
          text-transform: uppercase;
          font-family: 'nunito', sans-serif;
          letter-spacing: 1.2px;
          font-weight: $weightSemiBold;
          border-radius: 16px;
          border: none;
          background-color: #fec44c;
        }
      }
    }
  }
}

.side {
  background-color: white;
  width: 100%;
  height: inherit;
  padding: 30px;
  padding-right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .side--menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
    .menu--list {
      display: flex;
      li {
        margin-right: 40px;
        font-weight: $weightSemiBold;
        font-size: 20px;
        &:first-child {
          color: #2ebf91;
        }
      }
    }
    .avatar {
      position: relative;
      div {
        position: absolute;
        width: 8px;
        height: 8px;
        background-color: orange;
        border-radius: 50%;
        top: 0;
        right: 0;
      }
    }
  }
  .side--detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h1 {
      font-size: $fontLarge;
      font-weight: $weightBold;
    }
    .detail--list {
      display: flex;
      margin: 16px 0;
      li {
        margin-right: 20px;
        font-weight: $weightSemiBold;
        font-size: $fontSmall;
        &:first-child {
          color: orange;
        }
      }
    }
    .detail--cards {
      display: flex;
      margin-bottom: 16px;
      justify-content: space-between;
      .card {
        height: 180px;
        width: 150px;
        background-image: url('https://source.unsplash.com/random/1');
        background-position: center center;
        background-size: cover;
        margin-right: 30px;
        border-radius: 16px;
        padding: 16px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        color: white;
        &:nth-child(2) {
          background-image: url('https://source.unsplash.com/random/2');
        }
        &:last-child {
          background-image: url('https://source.unsplash.com/random/3');
        }
        .site {
        }
        .card--country {
          margin-top: 10px;
          font-size: $fontMicro;
        }
      }
    }
    .detail--btns {
      display: flex;
      div {
        cursor: pointer;
        width: 50px;
        font-size: $fontMedium;
        color: gainsboro;
        &:hover {
          color: darkslategrey;
        }
      }
    }
  }
  .category {
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
    margin-right: 30px;
    .category--menu {
      display: flex;
      justify-content: space-between;
      h3 {
        font-size: $fontRegular;
        font-weight: $weightSemiBold;
      }
      h5 {
        color: orange;
      }
    }
    .category--cards {
      display: flex;
      margin-top: 16px;
      justify-content: space-between;
      .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        .icon {
          i {
            padding: 10px;
            background-color: orange;
            color: white;
            border-radius: 50%;
          }
        }
        .card--title {
          margin: 8px 0;
          font-weight: $weightSemiBold;
          font-size: $fontSmall;
        }
        .card--results {
          font-size: $fontMicro;
          color: dimgray;
        }
      }
    }
  }
}
