@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

@import '_reset';
@import '_variables';
// font-family: 'Comfortaa', cursive;
// font-family: 'Crimson Text', serif;
body {
  width: 100%;
  height: 100vh;
}

.main {
  width: calc(100% - 180px);
  font-family: 'Crimson Text', serif;
  .header {
    padding: 250px 60px 120px;
    p {
      text-align: left;
      font-size: 75px;
      width: 60%;
      line-height: 1.2;
    }
  }
  .picture {
    padding: 100px;
    height: 1000px;
    background-image: url('https://source.unsplash.com/random');
    background-position: center;
    background-size: cover;
  }
  .market__info {
    padding: 60px;
    h2 {
      font-size: 112px;
      width: 40%;
      margin-bottom: 60px;
    }
    .posts {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 60px;
      img {
        width: 100%;
        margin-bottom: 30px;
      }
      p {
        line-height: 1.3;
        letter-spacing: 2px;
      }
    }
  }
  .event {
    padding: 60px;
    display: flex;
    flex-direction: column;
    position: relative;
    .title {
      padding: 60px 0;
      font-size: 100px;
      text-align: center;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      div {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .info {
      border: 1px solid;
      padding: 60px 0;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      border: 1px solid black;
      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        h4 {
          margin-bottom: 20px;
        }
        p {
          font-family: 'Comfortaa', cursive;
          line-height: 1.4;
          width: 50%;
          font-size: 14px;
          font-weight: 500;
        }
      }
    }
    .button {
      cursor: pointer;
      position: absolute;
      color: black;
      background-color: white;
      letter-spacing: 2px;
      font-family: 'Comfortaa', cursive;
      font-size: 14px;
      text-decoration: none;
      border: 1px solid black;
      padding: 20px 50px;
      top: 86%;
      left: 45%;
      text-align: center;
      width: 100px;
      &:hover {
        color: whitesmoke;
        background-color: black;
      }
    }
  }
}

.location {
  padding: 60px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
  height: 340px;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dotted black;
  }
  .info {
    h2 {
      text-align: center;
      font-size: 60px;
      width: 50%;
    }
  }
  .map {
    background-image: url('https://source.unsplash.com/random');
    background-position: center;
    background-size: cover;
  }
}

.ask {
  padding: 60px;
  div {
    border-top: 1px double black;
    border-bottom: 1px double black;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
      font-size: 45px;
      margin-bottom: 40px;
    }
    .button {
      cursor: pointer;
      color: black;
      background-color: white;
      letter-spacing: 2px;
      font-family: 'Comfortaa', cursive;
      font-size: 14px;
      text-decoration: none;
      border: 1px solid black;
      padding: 20px 50px;
      width: 100px;
      transition: all 0.3s linear;
      &:hover {
        color: whitesmoke;
        background-color: black;
      }
    }
  }
}

.social {
  padding: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  div {
    border: 1px dashed black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    i {
      font-size: 32px;
      margin-bottom: 10px;
    }
    span {
      font-size: 20px;
    }
  }
}

.newsletter {
  padding: 60px 0;
  margin: 0 60px 60px;
  border: 1px solid black;
  padding: 30px 60px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
  .stayUp {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    p {
      font-size: 28px;
    }
  }
  .askEmail {
    border: 1px solid black;
    form {
      width: 100%;
      input {
        width: 90%;
        border: none;
        padding: 20px 30px;
        letter-spacing: 2px;
        background-color: white;
        outline: none;
        &::placeholder {
          color: black;
          font-family: 'Crimson Text', serif;
          font-weight: 500;
          font-size: 24px;
        }
      }
    }
  }
}

.footer {
  padding: 0 60px 120px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-family: 'Crimson Text', serif;
  font-size: 18px;
  .first {
    display: flex;
    a {
      margin-right: 40px;
      color: black;
      &:first-child {
        text-decoration: none;
      }
    }
  }
  .second {
    text-align: right;
  }
}

.aside {
  position: fixed;
  right: 0;
  top: 0;
  ul {
    display: grid;
    grid-template-columns: repeat(3, 60px);
    grid-template-rows: 100vh;
    text-align: center;
    li {
      h3 {
        margin-top: 60px;
        transform: rotateZ(90deg);
        margin-bottom: 350px;
      }
      p {
        font-family: 'Comfortaa', cursive;
        transform: rotateZ(90deg);
      }
    }
  }
  .food {
    background-color: $blue;
  }
  .retail {
    background-color: $red;
  }
  .community {
    background-color: $yellow;
  }
}
